# Build output
dist
node_modules
my.sh

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
start-http.sh

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor files
.DS_Store
Thumbs.db
*.swp

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo


# Backup files
*.backup
index.ts.backup
